NEXTAUTH_URL=http://localhost:3000
#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
#openssl rand -base64 32
NEXTAUTH_SECRET= 

KAKAO_CLIENT_ID= 
KAKAO_CLIENT_SECRET= 
KAKAO_REDIRECT_URI=http://localhost:3000/api/auth/callback/kakao
